<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Clarke</h1>
    <img src="/img/Clarke.jpg" alt="foto clarke">
    <p>Joan Clarke nació el 24 de junio de 1917 en West Norwood, Inglaterra. Estudiante brillante, ganó una beca para estudiar matemáticas en el Newnham College de Cambridge, donde consiguió el  denominado Part I of the Mathematical Tripos (cursos de tres años que llevaban a conseguir una licenciatura) en 1936 acabando el trienio como una “Wrangler” (estudiante con honores). Aunque se sacó el Part II en 1939 y el Part III en 1940, nunca le dieron la tan merecida licenciatura en matemáticas debido a que la Universidad de Cambridge  no concedió licenciaturas a mujeres hasta 1948.</p>
</body>
</html>